<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>The Restaurant</title>
</head>
<body>
    <header class="shadow-md">
        <nav class="w-[80%] m-auto py-5">
            <ul class="flex justify-between">
                <li>
                    <a href="/home">
                        <h1 class="text-2xl font-medium">Kev's Cafe</h1>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h1 class="text-2xl font-medium">Account</h1>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <%- body %> 
</body>
</html>