

<form action="/status/check" method="POST" class="relative w-[25%] m-auto mt-12">
    <div class="reciept border p-5 shadow-md">
        <div class="text-center">
            <h1 class="text-2xl">Kev's Pizza</h1>
            <small>6 Somewhere Drive <br> Kingston 10 <br> 876-555-6677</small>
        </div>

        <div class="flex flex-col my-2">
            <label for="order_num">Order Number</label>
            <input type="text" name="order_num" id="" class="border outline-none p-1">
        </div>

        <div class="flex flex-col my-2">
            <label for="key_code">Key Code</label>
            <input type="text" name="key_code" id="" class="border outline-none p-1">
        </div>
        
        <br>
        <hr>

        <div class="text-center">
            <small>use your order number along with key code to check status of your order</small>
        </div>

        <div class="text-center pt-3">
            <button type="submit" class="bg-black p-4 text-white">
                Check Order Status
            </button>
        </div>
    </div>

</form>

<!-- <div class=" mt-5 text-center pt-2 flex justify-center">
    <a href="/menu" class="bg-orange-500 text-white p-4 block mx-1">
        Back to Menu
    </a>

    <a href="/order-status" class="bg-black text-white p-4 block mx-1">
        Check Order Status
    </a>
</div> -->